* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

header {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  gap: 24px;
  display: flex;
}

button {
  background-color: #30b868;
  color: white;
  font: bold;
  border: none;
  padding: 18px 20px;
  border-radius: 6px;
}
